
<div class="col-md-4">
	<h1>All Wikis</h1>
</div>
<div class="col-md-8" style="margin-top:1.5em;">
    <%= link_to "New Wiki", new_wikii_path, class: 'btn btn-success' %>
</div>

<% @wikiis.each do |wiki| %>
	<% if current_user%>
		<% if !wiki.private || wiki.user_id == current_user.id%>
			<div class="media">
		     	<div class="media-body">
		   			<h4 class="media-heading">
		     			<%= link_to wiki.title, wikii_path(wiki) %>
		   			</h4>
		     	</div>
	   		</div>
   		<% end %>
   	<%elsif wiki.collaborators.include?(current_user)%>
   		<div class="media">
		     	<div class="media-body">
		   			<h4 class="media-heading">
		     			<%= link_to wiki.title, wikii_path(wiki) %>
		   			</h4>
		     	</div>
	   		</div>
	<% else %>
		<% unless wiki.private == true%>
			<div class="media">
		     	<div class="media-body">
		   			<h4 class="media-heading">
		     			<%= link_to wiki.title, wikii_path(wiki) %>
		   			</h4>
		     	</div>
	   		</div>
   		<% end %>
	<% end %>
<% end %>



