<h1><%= @wikii.title %></h1>

<% if user_is_authorized_for_wiki? %>
   <%= link_to "Edit Wiki", edit_wikii_path, class: 'btn btn-success' %>
   <%= link_to "Delete Wiki", @wikii, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
<% end %>

<div class="row">
   <div class="col-md-8">
     <p class="lead"><%= @wikii.body %></p>
   </div>
</div>